NEXT_PUBLIC_SUPABASE_URL=https://sjnsmfidwrtqaoelmila.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNqbnNtZmlkd3J0cWFvZWxtaWxhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4OTI1MDgsImV4cCI6MjEwNTQ2ODUwOH0.UY_1Jot2ALCUegNPGTRxKg_AAA7q8vse0dl0y71sni0
NEXT_PUBLIC_API_URL=http://localhost:8080
